:root {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #111418;
  --bg-secondary: #141418;
}

body {
  color: black;
  background-color: white; /*rgba(0, 0, 0, 0.719)*/
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
}

/* Index page */

#img-home {
  height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  position: relative;
  margin: auto;
}

.layer {
  background-color: rgba(0, 0, 0, 0.4); /*0.719*/
  position: absolute;
}

/* About page */

.grid {
  display: grid;
  grid-template-areas:
    "about-overview"
    "about-education"
    "about-volunteering"
    "about-work"
    "about-hobbies";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 350px);
  row-gap: 6rem;
  /* border-radius: 1px;
  border: solid black; */
  margin: 5rem 7rem;
}

/* #about-img {
  grid-area: about-photo;
  object-fit: cover;
  width: 100%;
  max-width: 400px;
  height: auto;
} */

#about-overview {
  grid-area: about-overview;
  text-align: center;
}

#about-edu {
  grid-area: about-education;
}

#about-volunteering {
  grid-area: about-volunteering;
}

#about-work {
  grid-area: about-work;
}

#about-hobbies {
  grid-area: about-hobbies;
}

.about-text {
  text-align: center;
}

/* Works page */

/* Contact page */

.title-contact {
  text-align: center;
  margin-top: 60px;
}

#info-contact {
  font-size: 24;
  text-align: center;
}

.soc-social {
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-social {
  font-size: 4rem;
  margin-left: 10px;
  text-decoration: none;
  color: grey;
  transition: 0.5s;
}

.linkedin:hover {
  color: #0a66c2;
}

.github:hover {
  color: black;
}

.email:hover {
  color: black;
}

/* pc screens change to 1200*/
@media only screen and (min-width: 992px) {
  main {
    margin-left: 16rem;
    height: 100%;
  }

  .layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 16rem;
    padding: 1rem;
  }

  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }

  .navbar-nav {
    padding: 7rem 0;
    margin: 0;
  }

  .nav-link {
    margin-top: 2.5rem;
  }

  .nav-link:hover {
    color: #198165;
  }

  .rounded-circle {
    width: 10rem;
    margin-top: 10rem;
    margin-left: 3rem;
    border-radius: 10rem;
    border: solid 2px #eeeeee;
  }
}

/* mobile and tablet*/
@media only screen and (max-width: 991px) {
  main {
    margin-top: 5rem;
  }

  .navbar {
    top: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
    width: min-content;
    padding: 0;
    display: flex;
    flex-direction: unset;
  }

  .nav-item {
    margin: 1.75rem 2rem;
  }

  .grid {
    margin: 5rem clamp(2rem, 10vw, 7rem);
  }

  .rounded-circle {
    display: none;
  }

  .background {
    display: none;
  }

  .layer {
    width: 100%;
    height: 100%;
  }
}

/*
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-item {
    width: calc(90% / 4);
    margin-top: 1rem;
  }

  main {
    margin-top: 5rem;
  }

  .rounded-circle {
    display: none;
  }

  .background {
    display: none;
  }

  .layer {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768) and (max-width: 991) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-item {
    width: calc(90% / 4);
    margin-top: 1rem;
  }

  main {
    margin-top: 5rem;
  }

  .rounded-circle {
    display: none;
  }

  .background {
    display: hidden;
  }

  .layer {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 992) and (max-width: 1199) {
  main {
    margin-left: 16rem;
    padding: 1rem;
  }

  .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 16rem;
    padding: 1rem;
  }

  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }

  .nav-link:hover {
    color: #198165;
  }

  .rounded-circle {
    width: 10rem;
    margin-top: 10rem;
    margin-left: 3rem;
    border-radius: 10rem;
    border: solid 2px #eeeeee;
  }

  .navbar-nav {
    padding: 7rem 0;
    margin: 0;
  }

  .nav-link {
    margin-top: 2.5rem;
  }
} */
