:root {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #111418;
  --bg-secondary: #141418;
}

body {
  color: black;
  background-color: white; /*rgba(0, 0, 0, 0.719)*/
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
}

/* Index page */

#index-grid {
  display: grid;
  place-items: center;
}

#img-home {
  height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  position: relative;
  margin: auto;
}

#layer {
  background-color: rgba(0, 0, 0, 0.4); /*0.719*/
  position: absolute;
}

#index-text-layer {
  position: absolute;
  min-height: 50px;
  height: min-content;
  width: 650px;
  background-color: rgba(169, 169, 169, 1);
  margin: auto auto;
}

#index-text-layer > p {
  padding: 0 20px;
  text-align: center;
}

/* About page */

/* Works page */

/* Contact page */

.title-contact {
  text-align: center;
  margin-top: 60px;
}

#info-contact {
  font-size: 24;
  text-align: center;
}

.soc-social {
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-social {
  font-size: 4rem;
  margin-left: 10px;
  text-decoration: none;
  color: grey;
  transition: 0.5s;
}

.linkedin:hover {
  color: #0a66c2;
}

.github:hover {
  color: black;
}

.email:hover {
  color: black;
}

/* pc screens change to 1200*/
@media only screen and (min-width: 992px) {
  /* Repeating */

  main {
    margin-left: 16rem;
    height: 100%;
  }
  
  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }

  .navbar-nav {
    padding: 7rem 0;
    margin: 0;
  }

  .nav-link {
    margin-top: 2.5rem;
  }

  .nav-link:hover {
    color: #198165;
  }

  #rounded-circle {
    width: 10rem;
    margin-top: 10rem;
    margin-left: 3rem;
    border-radius: 10rem;
    border: solid 2px #eeeeee;
  }

  /* Index page */
  #layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 16rem;
    padding: 1rem;
  }

  /* About page */

  #about-grid {
    display: none;
  }
  
  .slideshow-container-outer{
    display: grid;
    padding: 0 clamp(100px, 10%, 300px);
    margin-top: 150px;
  }
  
  /* Slideshow container */
  .slideshow-container-inner {
    position: relative;
    background: #f1f1f1f1;
  }

  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    min-height: 120px;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  /* Add a background color to the active dot/circle */
  .active,
  .dot:hover {
    background-color: #717171;
  }
}

/* mobile and tablet*/
@media only screen and (max-width: 991px) {
  /* Repeating */

  main {
    margin-top: 5rem;
  }

  .navbar {
    top: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
    width: min-content;
    padding: 0;
    display: flex;
    flex-direction: unset;
  }

  .nav-item {
    margin: 1.75rem 1.5rem;
  }

  .background {
    display: none;
  }

  #rounded-circle {
    display: none;
  }

  #layer {
    width: 100%;
    height: 100%;
  }

  /* Index page */

  #index-text-layer {
    width: clamp(300px, 60%, 650px);
  }

  /* About page */

  .slideshow-container-outer{
    display: none;
  }

  #about-grid {
    display: grid;
    grid-template-areas:
      "about-overview"
      "about-education"
      "about-volunteering"
      "about-work"
      "about-hobbies";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 350px);
    row-gap: 6rem;
    margin: 5rem clamp(2rem, 10vw, 7rem);
  }

  #about-overview {
    grid-area: about-overview;
    text-align: center;
  }

  #about-edu {
    grid-area: about-education;
  }

  #about-volunteering {
    grid-area: about-volunteering;
  }

  #about-work {
    grid-area: about-work;
  }

  #about-hobbies {
    grid-area: about-hobbies;
  }

  .about-text {
    text-align: center;
  }
}

/*
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-item {
    width: calc(90% / 4);
    margin-top: 1rem;
  }

  main {
    margin-top: 5rem;
  }

  .rounded-circle {
    display: none;
  }

  .background {
    display: none;
  }

  .layer {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768) and (max-width: 991) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-item {
    width: calc(90% / 4);
    margin-top: 1rem;
  }

  main {
    margin-top: 5rem;
  }

  .rounded-circle {
    display: none;
  }

  .background {
    display: hidden;
  }

  .layer {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 992) and (max-width: 1199) {
  main {
    margin-left: 16rem;
    padding: 1rem;
  }

  .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 16rem;
    padding: 1rem;
  }

  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }

  .nav-link:hover {
    color: #198165;
  }

  .rounded-circle {
    width: 10rem;
    margin-top: 10rem;
    margin-left: 3rem;
    border-radius: 10rem;
    border: solid 2px #eeeeee;
  }

  .navbar-nav {
    padding: 7rem 0;
    margin: 0;
  }

  .nav-link {
    margin-top: 2.5rem;
  }
} */
