<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <link href="./static/favicon.ico" rel="icon" />
    <title>About</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">
            <span class="link-text">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./about.html" class="nav-link">
            <span class="link-text">About</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./works.html" class="nav-link">
            <span class="link-text">Works</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./contact.html" class="nav-link">
            <span class="link-text">Contact</span>
          </a>
        </li>
      </ul>
      <img
        src="./static/images/johnpfp.jpg"
        class="rounded-circle"
        alt="John"
      />
    </nav>
    <main>
      WIP
      <h1 style="margin-top: 3rem; text-align: center">About me</h1>
      <container class="grid">
        <!-- <img src="./static/images/about-img.jpg" id="about-img" /> -->

        <section id="about-overview" class="about-text">
          <h2>Overview</h2>
          <p>
            Hello I'm John, a mathematics graduate from the University of
            Dundee.
          </p>
        </section>

        <section id="about-edu" class="about-text">
          <h3>Education history</h3>
          <p>Degree: Lower Second Class Honours in BSc (Hons) Mathematics</p>
        </section>

        <section id="about-volunteering" class="about-text">
          <h3>Volunteering</h3>
          <p>
            7 years at NCYP, 6 months at burnside youth group,, childrens
            discos, red sails festival, samaritans
          </p>
        </section>

        <section id="about-work" class="about-text">
          <h3>Work history</h3>
          <p>9 months Spar</p>
        </section>

        <section id="about-hobbies" class="about-text">
          <h3>Hobbies and Interests</h3>
          <p>Skiing Mathematics Cooking Baking Gaming Programming</p>
        </section>
      </container>
    </main>
  </body>
</html>
