<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <link href="./static/favicon.ico" rel="icon" />
    <script
      src="https://kit.fontawesome.com/4b144cba50.js"
      crossorigin="anonymous"
    ></script>
    <title>Contact</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">
            <span class="link-text">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./about.html" class="nav-link">
            <span class="link-text">About</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./works.html" class="nav-link">
            <span class="link-text">Works</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./contact.html" class="nav-link">
            <span class="link-text">Contact</span>
          </a>
        </li>
      </ul>
      <img
        src="./static/images/johnpfp.jpg"
        class="rounded-circle"
        alt="John"
      />
    </nav>
    <main>
      <h1>This webpage is still in progress</h1>
      <div class="socials">
        <a
          href="https://www.linkedin.com/in/john-stuart-12588a178/"
          class="btn linkedin"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/OverDoseOnLlamas" class="btn github">
          <i class="fab fa-github"></i>
        </a>
        <a href="#" class="btn facebook">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#" class="btn email">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </main>
  </body>
</html>
