<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <link href="./static/favicon.ico" rel="icon" />
    <style>
      html,
      body {
        margin: 0;
        height: auto;
        overflow: hidden;
      }
    </style>
    <title>Index</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">
            <span class="link-text">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./about.html" class="nav-link">
            <span class="link-text">About</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./works.html" class="nav-link">
            <span class="link-text">Works</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="./contact.html" class="nav-link">
            <span class="link-text">Contact</span>
          </a>
        </li>
      </ul>
      <img
        src="./static/images/johnpfp.jpg"
        class="rounded-circle"
        alt="John"
      />
    </nav>
    <main>
      <div>
        <img src="./static/images/johnbackground2.png" id="img-home" />
        <!-- <div class="layer"></div> -->
      </div>
    </main>
  </body>
</html>
